@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  @apply text-sm;
  @apply text-gray-900;
  @apply bg-lightgray;
  @apply font-sans;
  scroll-behavior: smooth;
}

article.NewsContent h2 {
  @apply text-xl;
  @apply font-bold;
  @apply text-dark;
  padding-top: 20px;
  padding-bottom: 10px;
}
  article.NewsContent.firmPage h2, .ck.ck-content h2 {
    @apply text-sm;
  }
article.NewsContent p {
  padding-bottom: 10px;
  @apply font-light;
  @apply text-base;
}
  article.NewsContent.firmPage p, .ck.ck-content p {
    @apply text-sm;
  }
article.NewsContent a, .ck.ck-content a {
  @apply font-bold;
  @apply text-secondary;
  @apply underline;
}
article.NewsContent a:hover, .ck.ck-content a:hover {
  @apply text-dark;
  @apply no-underline;
}
article.NewsContent ul, .ck.ck-content ul {
  @apply list-disc;
  @apply text-base;
  @apply ml-4;
}
  article.NewsContent.firmPage ul, .ck.ck-content ul {
    @apply text-sm;
  }
article.NewsContent ol, .ck.ck-content ol {
  @apply list-decimal;
  @apply text-base;
  @apply ml-4;
}
  article.NewsContent.firmPage ol, .ck.ck-content ol {
    @apply text-sm;
  }
article.NewsContent ol li, article.NewsContent ul li, .ck.ck-content li {
  @apply mb-4;
  @apply pl-4;
}
  article.NewsContent.firmPage ol li, article.NewsContent.firmPage ul li, .ck.ck-content li {
    @apply mb-2;
    @apply pl-2;
  }
article.NewsContent .adsInline .band {
    position: relative;
    display: flex;
    height: 1.6rem;
    margin-bottom: 1rem;
}
article.NewsContent .adsInline .band span {
    position: relative;
    flex: 1;
    @apply text-sm;
    display: inline-block;
    @apply text-center;
    @apply text-midgray;
    padding: 0 1rem;
    z-index: 1;
}
article.NewsContent .adsInline .band:before, article.NewsContent .adsInline .band:after {
    content: "";
    flex: 2;
    margin: .7rem auto;
    @apply border-t;
    @apply border-midgray;
}
article.NewsContent .table {
  @apply border;
  @apply overflow-hidden border rounded;
  margin-bottom: 10px;
}
article.NewsContent table {
  text-align: left;
  @apply table-auto min-w-full;
}
article.NewsContent table thead tr td, article.NewsContent table thead tr th, article.NewsContent table tbody tr td, article.NewsContent table tbody tr th {
  padding: 5px 10px;
  @apply border;
}
article.NewsContent table thead tr td, article.NewsContent table thead tr th {
  @apply bg-darkgray;
  @apply border-darkgray;
  @apply text-lightgray;
}
article.NewsContent table tbody tr:nth-child(2n+1) td, article.NewsContent table tbody tr:nth-child(2n+1) th {
  @apply bg-lightgray/50;
}
article.NewsContent table tbody tr:hover td, article.NewsContent table tbody tr:hover th {
  @apply bg-lightgray;
}
.ql-container {
  font-family: 'Dosis', sans-serif;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow .ql-editor {
  min-height: 120px;
  transition: all ease-in 0.1s 0s;
  @apply text-base;
  @apply font-sans;
}
figcaption {
  @apply caption-bottom;
  @apply text-midgray;
  @apply italic;
}
/* .ql-toolbar.ql-snow + .ql-container.ql-snow .ql-editor:focus {
  min-height: 150px;
} */
.ql-editor ol, .ql-editor ul {
  padding-left: 0;
}
.commentSection .ql-container.ql-snow {
    @apply border-midgray;
}
.commentSection .ql-toolbar.ql-snow {
    @apply border-midgray;
    @apply font-sans;
}
.slick-active button {
    @apply bg-secondary;
    @apply text-white;
}
.loader-dots div {
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-dots div:nth-child(1) {
    left: 8px;
    animation: loader-dots1 0.6s infinite;
}
.loader-dots div:nth-child(2) {
    left: 8px;
    animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(3) {
    left: 32px;
    animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(4) {
    left: 56px;
    animation: loader-dots3 0.6s infinite;
}
@keyframes loader-dots1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes loader-dots3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes loader-dots2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
.lds-ellipsis {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: calc(50% + 6.5px);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  @apply bg-lightgray;;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
.firmArticles .slick-track{ margin-left: 0; }
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@media screen and (min-width: 640px) {
  html {

  }
}

@media screen and (min-width: 768px) {
  html {

  }
}